/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14px;
    line-height: 2em;
}

#main {
    width: 73%;
    background-color: #fff;
    float: right;
    padding-bottom: 95px;
}

#main a {
    color: #333;
}

#main h2 {
    height: 38px;
    margin: 15px 0;
    padding-left: 35px;
    font-size: 15px;
    background: #000 url(image/mark1.png) no-repeat left 10px center;
    color: #fff;
    line-height: 38px;


}
#main h3 {
    height: 38px;
    font-size: 15px;
    color: #333;
    line-height: 38px;
    background: linear-gradient(#fff, #ebebeb);
    margin: 15px 0;
    padding: 0 15px;
    border: 1px solid #ccc;
}

#main h4 {
    padding: 0 15px;
    font-weight: bold;
    margin-top: 15px;
}

#main p {
    padding: 0 15px;
}

.news {
    height: 150px;
    padding-left: 15px;
    overflow-y: scroll;
}

.new {
    background-color: #FF0202;
    color: #fff;
    font-size: 10px;
    padding: 0 4px;
    border-radius: 2px;
}

.news dt {
    display: inline-block;
    width: 14%;
    min-width: 100px;
    border-bottom: 1px solid #ccc;
}

.news dd {
    display: inline-block;
    width: 86%;
    border-bottom: 1px solid #ccc;
}

#sidebar {
    width: 23%;
    float: left;
    background-color: #fff;
}

#sidebar h2 {
    padding-left: 10px;
    border-left: 3px solid #000;
    margin-bottom: 10px;
    line-height: 1em;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    height: 32px;
    background-color: #fff;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

#sidebar ul li a {
    color: #333;
    text-decoration: none;
    padding-left: 12px;
    display: block;
    transition: 0.5s;
}

#sidebar ul li a:hover {
    background-color: #000;
    color: #fff;
}

#sidebar ul li:last-child {
    border: none;
}

.box {
    margin: 15px 0;
}

.bg-gray {
    background-color: #e4e4e4;
    padding: 20px 15px;
    border: 1px solid #ccc;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
}